.promotedLinks {

  $box-size: 150px;

  .container {
    max-width: 100%;
    margin: 0px auto;
    position: relative;
  }
  .pLinkItemWrapper {
    float: left;
    display: block;
    height: $box-size;
    width: $box-size;
    position: relative;
    border: #bebebe 1px solid;
    margin: 0px 8px 8px 0px;
  }
  .pLinkItemImage {
    height: $box-size;
    width: $box-size;
  }
  .pLinkItemHoverPanel {
    position: absolute;
    top: $box-size * .80;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba( 0,0,0,0.6 );
    filter: alpha(opacity=50);
    padding: 2px;
    overflow: hidden;
  }
  .pLinkItemHoverPanelExpanded {
    @extend .pLinkItemHoverPanel;
    top: 0px;
  }
  .pLinkItemTitle {
    font-size: ($box-size - ($box-size * .80)) - 4px;
    line-height: ($box-size - ($box-size * .80)) - 4px;
    font-weight: bold;
    color: #eee;
  }
  .pLinkItemDesc {
    font-size: 8pt;
    color: #ccc;
  }
}
